.ooo{
    width: top;
    position: relative;
    margin-top: 0%;
}
body{
    font-size: small;


}
h2{
    margin-left: 0px;
    color: navy;
 margin-top: 0%;
    
}
.ppp{
    margin-top: 0%;
}
br{
    margin: 0%;
    margin-top: 0%;
}
.opp{
    padding-top: 0%;
    padding-left: 9px;
    text-emphasis: none;
}
h3{
    padding-top: 0%;
    padding-bottom: 0px;
    margin-top: 0%;
color: navy;
}
p{margin: auto auto 1% auto;

    color: navy;
}
dd{
    color: navy;
}
dt{
    color: navy;
}
ul{
    color: navy;
}
.kkk{
    margin-top: 10px;
}